body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.page-container{
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #b00020;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
}

.navigation a{
    text-decoration: none;
    margin-left: 30px;
}

.navigation .container{
    margin-right: 30px;
}

.equip-main{
    margin-top: 105px;
    text-align: center;
    width: 100%;
    padding-bottom: 100px;
}

.equip-main img{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

.exercise-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
}

.exercise {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    width: 80%;
}

.equipment-info {
    text-align: center;
}

.equipment-info h1{
    margin-right: 10px;
    color: #212121;
}

.exercise .instructions {
    text-align: center;
}

.exercise .exercise-name {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
}

.exercise h6 {
    font-size: 14px;
    margin: 6px;
    font-weight: 300;
}

.exercise h6 span {
    font-weight: 200;
}

.exercise img{
    width: 150px;
    height: 150px;
}

.footer{
    display: grid;
    place-items: center;
    background-color: #212121;
    color: white;
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

@media only screen and (max-width: 780px) {
    .exercise-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #menu{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        background-color: #B00020;
        width: 100%;
        position: fixed;
        top: -500px;
        right: 0px;
        padding-bottom: 15px;
    }

    #menu>a{
        padding:10px 0px
    }
}
@media only screen and (min-width: 780px) {
    .bar{
        display: none;
    }
    #menu{
        padding-right: 40px;
    }
}

